QPushButton {
  background-color: #88a6af;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 18px;
  border: 1px solid transparent;
  border: 1px solid #000;
}

QPushButton:hover {
  background-color: #b6deeb;
}